div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    background: rgba(0, 0, 0, 0.7);
    border-collapse:separate;
    border:solid rgba(255, 255, 255, 0.7) 5px;
    align-self: center;
}

#mapTab {
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}

#scoreTab {
    border-radius:15px;
}

th, td {
    font-family: "Franklin Gothic Heavy", Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px black;
}

#hostName, #opponentName {
    width: 450px;
    font-size: 45px;
}

#scoreDiff {
    width: 100px;
    font-family: "DS-Digital", Arial, sans-serif;
    font-size: 70px;
}

#hostS, #opponentS {
    font-family: "DS-Digital", Arial, sans-serif;
    color: #ffffff;
    font-size: 50px;
}

#mapText {
    width: 200px;
    color: #ffffff;
    font-size: 20px;
}

#mapsLeft {
    color: #ffffff;
    font-size: 30px;
}